# 1  Topic Modeling

# 1.1  Introduction

Another popular text analysis technique is called Topic Modeling. The ultimate goal of topic modeling is to find various topics that are present in your corpus. Each document in the corpus will be made up of at least one topic, if not multiple topics. 

In this notebook, we will be covering the steps on how to do __Latent Dirichlet Allocation (LDA)__, which is one of my topic modeling techniques. It was specially designed for text data.

To use a Topic Modeling technique, you need to provide (1) a document-term matrix and (2) the number of topics you would like the algorithm to pick up.

Once the topic modeling technique is applied, your job as a human to interpret the results and see if the mix of words in each topic make sense. If they don't make sense, you can try changing up the number of topics, the terms in the document-term matrix, model parameters, or even try a different model.

## 1.1 Introduction - Attempt # 1 (All Text)

In [1]:
# Let's read in our document-term matrix 
import pandas as pd
import pickle 

data = pd.read_pickle("dtm_stop.pkl")
data

,aaaaah,aaaaahhhhhhh,aaaaauuugghhhhhh,aaaahhhhh,aaah,aah,abc,abcs,ability,abject,...,zee,zen,zeppelin,zero,zillion,zombie,zombies,zoning,zoo,éclair
ali,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
anthony,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
bill,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,1,1,1,1,0,0
bo,0,1,1,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
dave,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hasan,0,0,0,0,0,0,0,0,0,0,...,2,1,0,1,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
louis,0,0,0,0,0,3,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,2,1,0,0,0,0,0,0
ricky,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0

In [2]:
# import the necessary modules for LDA with gensim
# Terminal / Anaconda Navigator : conda install -c conda-forge gensim

from gensim import matutils, models
import scipy.sparse

# import logging
# logging.basicConfig(format-'%(asctime)s : %(levelname)s : %(message)s', level-logging.INFO)

In [3]:
# One of the required inputs is a term-document matrix
tdm = data.transpose()
tdm.head()

,ali,anthony,bill,bo,dave,hasan,jim,joe,john,louis,mike,ricky
aaaaah,0,0,1,0,0,0,0,0,0,0,0,0
aaaaahhhhhhh,0,0,0,1,0,0,0,0,0,0,0,0
aaaaauuugghhhhhh,0,0,0,1,0,0,0,0,0,0,0,0
aaaahhhhh,0,0,0,1,0,0,0,0,0,0,0,0
aaah,0,0,0,0,1,0,0,0,0,0,0,0

In [7]:
# We are going to put the term-document matrix into a new gensim format, from df --> sparse matrix 
sparse_counts = scipy.sparse.csc_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)
corpus

In [8]:
# Gensim also requires dictionary of the all terms and their respective locaiton in the term-doc 
cv = pickle.load(open('cv_stop.pkl', 'rb'))
id2word = dict((v,k) for k, v in cv.vocabulary_.items())

Now that we've the corpus(term-document matrix) and id2word (dcitionary of location: term). we need to specify two other parameters - the number of topics and the number of passes. Let's start the number of topics at 2, see if the results make sense, and increase the number from there.

In [9]:
# Now we've the corpus (term-document matrix) and id2word (dictionary of location: term), we need to specify two
# other parameters as well - the number of topics and the number of passes.

lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics= 2, passes = 10)
lda.print_topics()

[(0,
  '0.007*"fucking" + 0.006*"shit" + 0.006*"ve" + 0.005*"man" + 0.005*"little" + 0.004*"ll" + 0.004*"good" + 0.004*"cause" + 0.004*"thing" + 0.004*"really"'),
 (1,
  '0.008*"fucking" + 0.006*"ve" + 0.006*"going" + 0.006*"want" + 0.006*"ll" + 0.005*"day" + 0.005*"shit" + 0.005*"went" + 0.005*"goes" + 0.005*"thing"')]

In [10]:
# LDA for number of topics = 3
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics= 3, passes = 10)
lda.print_topics()

[(0,
  '0.006*"cause" + 0.006*"went" + 0.006*"ve" + 0.006*"day" + 0.006*"ll" + 0.006*"fucking" + 0.005*"really" + 0.005*"going" + 0.005*"goes" + 0.004*"thing"'),
 (1,
  '0.011*"fucking" + 0.008*"shit" + 0.006*"ve" + 0.005*"ll" + 0.005*"man" + 0.005*"thing" + 0.005*"did" + 0.005*"going" + 0.005*"little" + 0.004*"come"'),
 (2,
  '0.007*"love" + 0.007*"life" + 0.006*"want" + 0.006*"dad" + 0.006*"ve" + 0.005*"going" + 0.005*"good" + 0.004*"shit" + 0.004*"ll" + 0.004*"look"')]

In [11]:
# LDA for number of topics = 4
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics= 4, passes = 10)
lda.print_topics()

[(0,
  '0.006*"dad" + 0.006*"love" + 0.006*"ve" + 0.005*"want" + 0.005*"going" + 0.004*"hey" + 0.004*"shit" + 0.004*"mom" + 0.004*"ll" + 0.004*"did"'),
 (1,
  '0.001*"ve" + 0.000*"fucking" + 0.000*"shit" + 0.000*"thing" + 0.000*"day" + 0.000*"cause" + 0.000*"life" + 0.000*"good" + 0.000*"going" + 0.000*"lot"'),
 (2,
  '0.010*"fucking" + 0.007*"shit" + 0.006*"ll" + 0.006*"cause" + 0.006*"thing" + 0.005*"life" + 0.005*"ve" + 0.005*"going" + 0.005*"guy" + 0.005*"really"'),
 (3,
  '0.010*"fucking" + 0.009*"ve" + 0.007*"went" + 0.007*"shit" + 0.006*"good" + 0.006*"day" + 0.005*"thing" + 0.005*"going" + 0.005*"ll" + 0.005*"man"')]

The topics are not looking too great. We've tried modifying our parameters. Let's try modify our terms list as well.

## 1.3 Topic Modeling - Attempt #2  (Nouns Only)

One popular trick is to look at terms that are from one part of speech (only nouns, only adjectives, etc). Check out the 
UPenn tag set: https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html

In [15]:
# Let's create a function to pull out nouns from a string of text
from nltk import word_tokenize, pos_tag
#import nltk
#nltk.download('punkt')

def nouns(text):
    
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)]
    
    return ' '.join(all_nouns)

[nltk_data] Downloading package punkt to C:\Users\lenovo
[nltk_data]     pc\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [13]:
# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                                transcript
ali      ladies and gentlemen please welcome to the sta...
anthony  thank you thank you thank you san francisco th...
bill      all right thank you thank you very much thank...
bo       bo what old macdonald had a farm e i e i o and...
dave     this is dave he tells dirty jokes for a living...
hasan      what’s up davis what’s up i’m home i had to ...
jim         ladies and gentlemen please welcome to the ...
joe         ladies and gentlemen welcome joe rogan  wha...
john     all right petunia wish me luck out there you w...
louis    introfade the music out let’s roll hold there ...
mike     wow hey thank you thanks thank you guys hey se...
ricky    hello hello how you doing great thank you wow ...

In [17]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\lenovo pc\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [18]:
# apply the noun functions to the transcript to filter only on nouns

data_nouns = pd.DataFrame(data_clean.transcript.apply(nouns))
data_nouns

                                                transcript
ali      ladies gentlemen stage ali hi thank hello na s...
anthony  thank thank people i ’ em i francisco city wor...
bill     thank s thank pleasure georgia area oasis t i ...
bo       macdonald farm e i o farm pig e i i snort macd...
dave     jokes living stare work profound train thought...
hasan    ’ ’ m home i netflix “ la york ” i “ son davis...
jim      ladies gentlemen stage mr jim jefferies thank ...
joe      ladies gentlemen joe fuck thanks phone fuckfac...
john     petunia august hello hello chicago thank crowd...
louis    music let ’ roll hold lights lights thank i t ...
mike     wow hey thanks look insane years everyone i t ...
ricky    hello thank fuck thank welcome i m gon tonight...

In [19]:
# Create a new document-term matrix using only nouns 
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Re-add the additional stop words since we are recreating the document-term matrix
add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people', 'youre',
                 'got', 'gonna', 'time', 'think', 'yeah', 'said']

stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

#recreate a document-term matrix with only nouns 

cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.transcript)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

,aaaaahhhhhhh,aaaaauuugghhhhhh,aaaahhhhh,aaah,aah,abc,abcs,ability,abortion,abortions,...,ze,zealand,zee,zen,zeppelin,zillion,zombie,zombies,zoo,éclair
ali,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
anthony,0,0,0,0,0,0,0,0,2,0,...,0,10,0,0,0,0,0,0,0,0
bill,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,1,1,1,0,0
bo,1,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
dave,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
hasan,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
louis,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
ricky,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [21]:
# create the gensim corpus

corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))
corpusn

In [22]:
# create a vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [23]:
# Lets start with two topics 
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2word, passes=10)
ldan.print_topics()

[(0,
  '0.008*"cheering" + 0.008*"darwin" + 0.008*"minivan" + 0.007*"flashes" + 0.007*"feared" + 0.007*"lawyer" + 0.007*"digestive" + 0.006*"desert" + 0.006*"chanting" + 0.006*"cloth"'),
 (1,
  '0.008*"blind" + 0.007*"minivan" + 0.007*"cheering" + 0.006*"desert" + 0.006*"nuns" + 0.006*"feared" + 0.006*"lawyer" + 0.006*"flashes" + 0.006*"filled" + 0.005*"digestive"')]

In [24]:
# Lets start with three topics 
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2word, passes=10)
ldan.print_topics()

[(0,
  '0.008*"baby" + 0.007*"isle" + 0.006*"massages" + 0.006*"corn" + 0.006*"camera" + 0.005*"flashes" + 0.005*"career" + 0.004*"bar" + 0.004*"map" + 0.003*"burke"'),
 (1,
  '0.009*"minivan" + 0.009*"cheering" + 0.009*"blind" + 0.008*"lawyer" + 0.008*"desert" + 0.008*"feared" + 0.008*"digestive" + 0.008*"flashes" + 0.007*"darwin" + 0.007*"nuns"'),
 (2,
  '0.007*"eric" + 0.006*"neighbors" + 0.006*"minivan" + 0.006*"cheering" + 0.006*"oscillating" + 0.004*"minor" + 0.004*"grizzling" + 0.004*"enjoying" + 0.004*"depressed" + 0.003*"cloth"')]

In [25]:
# Lets start with four topics 
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2word, passes=10)
ldan.print_topics()

[(0,
  '0.010*"lawyer" + 0.009*"flashes" + 0.008*"desert" + 0.008*"darwin" + 0.008*"cheering" + 0.008*"chanting" + 0.007*"minivan" + 0.007*"feared" + 0.007*"filled" + 0.007*"nuns"'),
 (1,
  '0.000*"cheering" + 0.000*"minivan" + 0.000*"blind" + 0.000*"feared" + 0.000*"nuns" + 0.000*"flashes" + 0.000*"desert" + 0.000*"cloth" + 0.000*"grams" + 0.000*"excitedi"'),
 (2,
  '0.009*"feared" + 0.009*"blind" + 0.008*"minivan" + 0.007*"nuns" + 0.006*"digestive" + 0.006*"desert" + 0.005*"hooves" + 0.005*"excuse" + 0.005*"baby" + 0.005*"flashes"'),
 (3,
  '0.012*"cheering" + 0.011*"minivan" + 0.009*"neighbors" + 0.006*"eric" + 0.006*"blind" + 0.006*"minor" + 0.005*"flashes" + 0.005*"digestive" + 0.005*"cloth" + 0.005*"oscillating"')]

# 1.4 Topic Modelling - Attempt #3 (Nouns and Adjectives)

In [28]:
# Lets create a function to pull out nouns from a string of text.

def nouns_adj(text):
    
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives. '''
    
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)]
    return ' '.join(nouns_adj)

In [29]:
# Apply the nouns funtion to the transcripts to filter only on nouns 
data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj

                                                transcript
ali      ladies gentlemen welcome stage ali wong hi wel...
anthony  thank san francisco thank good people surprise...
bill     right thank s thank pleasure greater atlanta g...
bo       old macdonald farm e i i o farm pig e i i snor...
dave     dirty jokes living stare most hard work profou...
hasan    ’ i ’ m home i netflix “ special la chicago ne...
jim      ladies gentlemen welcome stage mr jim jefferie...
joe      ladies gentlemen joe fuck san francisco thanks...
john     right petunia august s good right hello hello ...
louis    music let ’ roll hold lights lights thank much...
mike     wow hey thanks hey seattle nice look crazy s i...
ricky    hello great thank fuck thank lovely welcome i ...

In [30]:
# Lets create a new document-term matrix using only nouns and adjectives, also remove common words with nouns and adjectives

cvna = CountVectorizer(stop_words=stop_words, max_df = .8)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,aaaaahhhhhhh,aaaaauuugghhhhhh,aaaahhhhh,aaah,aah,abc,abcs,ability,abject,able,...,ze,zealand,zee,zen,zeppelin,zillion,zombie,zombies,zoo,éclair
ali,0,0,0,0,0,1,0,0,0,2,...,0,0,0,0,0,0,1,0,0,0
anthony,0,0,0,0,0,0,0,0,0,0,...,0,10,0,0,0,0,0,0,0,0
bill,0,0,0,0,0,0,1,0,0,1,...,1,0,0,0,0,1,1,1,0,0
bo,1,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
dave,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hasan,0,0,0,0,0,0,0,0,0,1,...,0,0,2,1,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,1
louis,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
ricky,0,0,0,0,0,0,0,1,1,2,...,0,0,0,0,0,0,0,0,1,0

In [31]:
# create a gensim corpus 

corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# create vocabulary for dictionary

id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [33]:
# Lets start with two topics 
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.005*"dude" + 0.003*"joke" + 0.003*"mom" + 0.003*"let" + 0.003*"bo" + 0.003*"parents" + 0.003*"love" + 0.003*"door" + 0.002*"comedy" + 0.002*"dead"'),
 (1,
  '0.005*"mom" + 0.004*"joke" + 0.003*"ass" + 0.003*"friend" + 0.003*"jenny" + 0.003*"clinton" + 0.003*"parents" + 0.003*"guns" + 0.003*"girlfriend" + 0.002*"business"')]

In [34]:
# Lets start with three topics 
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.006*"mom" + 0.006*"jenny" + 0.005*"joke" + 0.005*"clinton" + 0.005*"friend" + 0.005*"parents" + 0.004*"anthony" + 0.003*"cow" + 0.003*"john" + 0.003*"wife"'),
 (1,
  '0.006*"bo" + 0.005*"repeat" + 0.005*"ahah" + 0.004*"gay" + 0.004*"eye" + 0.004*"ok" + 0.004*"um" + 0.004*"contact" + 0.004*"husband" + 0.003*"cos"'),
 (2,
  '0.006*"dude" + 0.003*"joke" + 0.003*"ass" + 0.003*"mom" + 0.003*"let" + 0.003*"gun" + 0.003*"parents" + 0.003*"dog" + 0.003*"door" + 0.003*"class"')]

In [35]:
# Lets start with four topics 
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.005*"joke" + 0.005*"ass" + 0.005*"guns" + 0.004*"dude" + 0.004*"dog" + 0.003*"jokes" + 0.003*"gun" + 0.003*"dick" + 0.003*"mom" + 0.003*"tit"'),
 (1,
  '0.006*"joke" + 0.006*"bo" + 0.005*"clinton" + 0.005*"repeat" + 0.004*"mom" + 0.004*"eye" + 0.004*"contact" + 0.004*"cow" + 0.003*"cos" + 0.003*"jokes"'),
 (2,
  '0.010*"dude" + 0.005*"husband" + 0.004*"ok" + 0.004*"gun" + 0.003*"pregnant" + 0.003*"ass" + 0.003*"let" + 0.003*"mom" + 0.003*"jesus" + 0.003*"sense"'),
 (3,
  '0.005*"jenny" + 0.005*"parents" + 0.004*"ahah" + 0.004*"hasan" + 0.004*"mom" + 0.004*"door" + 0.004*"friend" + 0.003*"comedy" + 0.003*"love" + 0.003*"gay"')]

# 1.5 Identify Topics in Each Document

Out of the 9 topic models we looked at, the nouns and adjective. 4 topic one made the most sense. So let's pull that down here and run it through some more iterations to get more fine-tuned topics.

In [36]:
# Our final LDA model (for now)

ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.009*"joke" + 0.005*"jokes" + 0.004*"guns" + 0.004*"ass" + 0.003*"girlfriend" + 0.003*"dude" + 0.003*"party" + 0.003*"jenner" + 0.003*"gun" + 0.003*"anthony"'),
 (1,
  '0.013*"bo" + 0.010*"repeat" + 0.008*"eye" + 0.008*"contact" + 0.008*"cos" + 0.006*"brain" + 0.005*"um" + 0.005*"song" + 0.005*"sluts" + 0.005*"sad"'),
 (2,
  '0.006*"friend" + 0.006*"jenny" + 0.005*"clinton" + 0.005*"wife" + 0.005*"ahah" + 0.004*"parents" + 0.004*"mom" + 0.004*"gay" + 0.003*"cow" + 0.003*"john"'),
 (3,
  '0.007*"dude" + 0.005*"mom" + 0.005*"ok" + 0.004*"parents" + 0.004*"hasan" + 0.003*"let" + 0.003*"tit" + 0.003*"husband" + 0.003*"love" + 0.003*"older"')]

These four topics are good. Let's settle on these for now.

- Topic 0: mom, parents
- Topic 1: husband, wife
- Topic 2: guns 
- Topic 3: profanity

In [37]:
# Let's take a look at which topics each transcript contains 
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(3, 'ali'),
 (0, 'anthony'),
 (3, 'bill'),
 (1, 'bo'),
 (2, 'dave'),
 (3, 'hasan'),
 (0, 'jim'),
 (0, 'joe'),
 (2, 'john'),
 (3, 'louis'),
 (2, 'mike'),
 (0, 'ricky')]

For a first pass of LDA, these kind of make sense, so we'll call it a day for now.
- Topic 0: mom, parents [Anthony, Hasan, Louis, Ricky]
- Topic 1: husband, wife [Ali, John, Mike]
- Topic 2: guns [Bill, Bo, Jim]
- Topic 3: profanity [Dave, Joe]